body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
#nav-menu-cntnr {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 12px;
    border: 8px solid transparent;
}
#nav-menu-cntnr:hover {
    border: 8px solid rgb(233, 233, 233);
}
#nav-dp {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    margin-left: 12px;
}
#nav-dp:hover {
    border: 3px solid rgb(233, 233, 233);
}
nav p {
    margin-left: 12px;
}
nav p:nth-child(2) {
    margin-right: 12px;
}

#main-cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#search-cntnr {
    border: 2px solid rgb(92, 92, 92);
    border-radius: 50px;
    display: flex;
}
#search-icon {
    margin: 10px 20px 10px 20px;
}
#search-box {
    border: 0px;
}
#search-box:focus {
    outline: 0px;
}
#mic-icon {
    width: 12px;
    margin: 10px 20px 10px 20px;
}

footer {
    background-color: hsl(0, 0%, 95%);
    padding: 5px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
hr {
    width: 100%;
}
ul {
    list-style-type: none;
    display: inline;
}
li {
    display: inline;
    margin: 0px 10px;
}
footer div:nth-child(3) {
    display: flex;
    justify-content: space-around;
}